.main-div{
    max-width: 90%; 
    margin: 0 auto;
    text-align: center;
}
.postingArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.postContent {
    margin: 10px 20px 10px 20px;
    width: 350px;
    text-align: center;
    border: 0.2px solid rgb(204, 202, 200);

}

.postContent .postText{
    max-width: 100%;
    font-size: 14px;
    color: #5B5A59;
}

h2 {
    font-size: 16px;
    margin: 10px;
    color: #5B5A59;
}
.postContent img {
    max-width: 100%;
    min-height: 235px;
    max-height: 235px;
}
.postText{
    max-width: 100%;
}

.loadMore {
    height: 25px;
    width: 100%;
    background-color: rgb(47, 155, 255);
    color: #fff;
    padding-top: 5px;
    cursor: pointer;
}

button{
    height: 35px;
    width: 350px;
    border: none;
    background-color:#EC9646;
    color: #fff;
    margin-top: 50px;
    cursor: pointer;
}