.main-div {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin: 0 auto;
    justify-content: center;
}

.postContent {
    display: flex;
    flex-direction: column;
    margin: 20px 20px auto;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.2px solid rgb(204, 202, 200);

}

.postContent .postText{
    max-width: 100%;
    font-size: 14px;
    color: #5B5A59;
}

h2 {
    font-size: 16px;
    margin: 10px;
    color: #5B5A59;
}
img {
    max-width: 100%;
    display: block;
}
.postText{
    max-width: 100%;
}

.postContent button {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    border: 0;
    cursor: pointer;
    background-color: rgb(47, 155, 255);
    color:#fff;    
}

.postContent:hover {
    /* transform: translateY(0px); */
    transition: all 0.5s;
    background-color:#fafafa ;
}